/* responsive width */

$max-mobile: 719px;
$min-tablet: 720px;
$max-tablet: 1023px;
$min-desktop-s: 1024px;
$max-desktop-s: 1279px;

@mixin responsive($device) {
  @if $device == "desktop-s" {
    @media screen and (max-width: $max-desktop-s) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (max-width: $max-tablet) {
      @content;
    }
  } @else if $device == "mobile" {
    @media screen and (max-width: $max-mobile) {
      @content;
    }
  }
}

@mixin sexyTitle {
  color: blue;
  font-size: 30px;
  margin-bottom: 12px;
}

@mixin link($color) {
  text-decoration: none;
  display: block;
  color: $color;
}

@mixin link($word) {
  text-decoration: none;
  display: block;
  @if $word == "odd" {
    color: yellow;
  } @else {
    color: tomato;
  }
}
