/* responsive width */
$max-mobile: 719px;
$min-tablet: 720px;
$max-tablet: 1023px;
$min-desktop-s: 1024px;
$max-desktop-s: 1279px;

@mixin responsive($device) {
  @if $device == "desktop-s" {
    @media screen and (max-width: $max-desktop-s) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (max-width: $max-tablet) {
      @content;
    }
  } @else if $device == "mobile" {
    @media screen and (max-width: $max-mobile) {
      @content;
    }
  }
}

/* background-image */
@mixin bg-img($po-x, $po-y, $size-w, $size-h) {
  background-image: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png);
  background-repeat: no-repeat;
  background-position: $po-x $po-y;
  background-size: $size-w $size-h;
}

/* scale up transition */
@mixin scale-up($scale) {
    transition: transform 0.35s;
    transform: scale($scale);
}

/* flexbox */
@mixin flexbox($wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: $wrap;
}

/* font */

/* width-height */
@mixin w-h($width, $height) {
    width: $width;
    height: $height;

}