@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import "_mixins";

body {
  font-family: $font-nanumSquare;
  font-size: $font-body;
  color: $color-bk;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $color-wt;
  border-bottom: 1px solid $color-gy-50;
  &__responsive {
    display: none;
  }
  &__inner {
    padding: 0 40px;
    @extend %clearfix;
  }

  &__logo {
    float: left;
    padding: 24px 8px 0;
    .logo-wrap {
      display: flex;
      flex-wrap: nowrap;
    }
    .logo-naver__link {
      text-indent: -9999px;
      width: 57px;
      height: 21px;
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) 0 -330px
        no-repeat;
      background-size: 885px 849px;
    }
    .logo-ogq__link {
      margin-left: 4px;
      text-indent: -9999px;
      width: 99px;
      height: 21px;
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -61px -330px
        no-repeat;
      background-size: 885px 849px;
    }
  }

  &__menu {
    float: left;
    padding: 24px 8px 0;
    .tab {
      display: flex;
      flex-wrap: nowrap;
      &__item {
        padding: 0 20px;
        a {
          font-size: $font-sub-title;
          font-weight: $font-wt-md;
          color: $color-gy-400;
          &:hover {
            color: $color-bk;
          }
        }
      }
      &__item--focused a {
        color: $color-bk;
      }
    }
  }

  &__account {
    float: right;
    padding: 16px 8px 0;

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      height: 40px;
      line-height: 40px;
    }
    .link-creator {
      padding: 0px 16px;
      a {
        font-size: $font-caption;
        color: $color-gy-700;
      }
    }
    .btn {
      margin: 0 12px;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      &--message {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -272px -38px
          no-repeat;
        background-size: 885px 849px;
      }
      &--alarm {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -341px -72px
          no-repeat;
        background-size: 885px 849px;
      }
      &--profile {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) 2px -459px
          no-repeat;
        background-size: 885px 849px;
      }
    }
  }

  &__search {
    float: right;
    padding: 16px 8px 0;
    .search-form {
      &__content {
        width: 280px;
        height: 40px;
        position: relative;
      }
      &__input {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: $color-wt;
        border: none;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
        padding: 0 80px 0 16px;
        &::placeholder {
          font-size: $font-caption;
        }
        &:focus {
          border: 1px solid $color-gn;
          box-shadow: none;
        }
      }
      &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        text-indent: -9999px;
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -344px -41px
          no-repeat;
        background-size: 885px 849px;
      }
    }
  }

  &__sub-menu {
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    .tab {
      display: flex;
      flex-wrap: nowrap;
      &__item {
        padding: 0 16px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: $font-caption;
          color: $color-gy-100;
        }
      }
      &__item--focused a {
        color: $color-gn;
        font-weight: $font-wt-bd;
        position: relative;
        &::after {
          content: "";
          width: auto;
          height: 5px;
          display: inline-block;
          background: #00c389;
          border-radius: 3px;
          position: absolute;
          bottom: 2px;
          left: -4px;
          right: -4px;
          opacity: 0.16;
        }
      }
    }
  }
  @include responsive("desktop-s") {
    &__account {
      .link-creator {
        display: none;
      }
      .btn {
        &--message {
          display: none;
        }
        &--alarm {
          display: none;
        }
      }
    }
  }
  @include responsive("tablet") {
    &__account {
      display: none;
    }
    &__search {
      display: none;
    }
    &__responsive {
      display: block;
      position: relative;
      height: 48px;
      padding: 20px 0 0;
      @extend %clearfix;
      .title {
        display: none;
        position: absolute;
        top: 0;
        right: 80px;
        bottom: 0;
        left: 80px;
        line-height: 48px;
        text-align: center;
        font-size: $font-body;
      }
      .btn-home,
      .btn-search,
      .btn-hamburger {
        width: 24px;
        height: 24px;
        text-indent: -9999px;
      }
      .btn-home {
        display: none;
        a {
          display: block;
        }
        float: left;
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -138px -41px
          no-repeat;
        background-size: 885px 849px;
      }
      .menu-wrap {
        float: right;
      }
      .btn-search {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -344px -41px
          no-repeat;
        background-size: 885px 849px;
        margin-right: 4px;
      }
      .btn-hamburger {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -207px -41px
          no-repeat;
        background-size: 885px 849px;
      }
    }
  }
  @include responsive("mobile") {
    &__logo {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__inner,
    &__sub-menu {
      padding: 0 20px;
      .tab__item {
        padding: 0 12px;
      }
    }
    &__responsive {
      padding: 12px 0 0;
      .title,
      .btn-home {
        display: block;
      }
    }
  }
}

.content-container {
  &::before {
    content: "";
    display: block;
    clear: both;
    height: 100px;
  }
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  &__inner {
    padding: 64px 40px 0;
  }

  .card-wrap-1 {
    display: grid;
    grid-gap: 16px 24px;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-around;
  }

  .card-wrap-2 {
    @extend %clearfix;
  }

  .featured-box {
    margin-bottom: 80px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 20px;
    }
    &__title {
      font-size: $font-title;
      font-weight: $font-wt-bd;
    }
    &__btn-more {
      font-size: $font-caption;
      font-weight: $font-wt-md;
      color: $color-gy-100;
      padding: 8px 12px;
    }
    &__btn-more-m {
      display: none;
    }
  }
  .featured-box-1.featured-artworks {
    .card__link {
      padding: 8px;
    }
  }
  .featured-box-1 {
    .card {
      width: 100%;
      max-width: 180px;
      &__thumb {
        border-radius: 10px;
        position: relative;
      }
      &__link {
        &.padding {
          padding: 8px;
        }
        display: block;
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 12px;
        background: $color-bg-thumb;
        &__inner {
          overflow: hidden;
        }
        .card__thumb-img {
          overflow: hidden;
          width: 100%;
          transition: transform 0.35s;
          transform: scale(1);
        }
        &:hover .card__thumb-img {
          transition: transform 0.35s;
          transform: scale(1.1);
        }
      }
      &__btn-wrap {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
      &__btn-scrap {
        width: 24px;
        height: 24px;
        text-indent: -9999px;
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -241px -110px
          no-repeat;
        background-size: 885px 849px;
        &:hover {
          background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -276px -110px
            no-repeat;
          background-size: 885px 849px;
        }
      }
      &__info {
        margin-top: 6px;
      }
      &__title {
        font-size: 16px;
        font-weight: $font-wt-md;
        color: $color-bk;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__author-thumb {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        img {
          width: 100%;
        }
      }
      &__author-name {
        font-size: $font-smallest;
        color: $color-gy-700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .featured-box-2 {
    .card {
      float: left;
      width: calc(50% - 12px);
      &:nth-child(2n-1) {
        margin: 0 24px 20px 0;
      }
      &__inner {
        @extend %clearfix;
      }
      &__thumb {
        width: 72px;
        height: 72px;
        float: left;
        border-radius: 10px;
        overflow: hidden;
      }
      &__link {
        display: block;
        .card__thumb-img {
          overflow: hidden;
          width: 100%;
          transition: transform 0.35s;
          transform: scale(1);
        }
        &:hover {
          transition: transform 0.35s;
          transform: scale(1.1);
        }
      }
      &__btn-wrap {
        float: right;
        padding: 16px 8px;
        vertical-align: middle;
      }
      &__btn {
        width: 24px;
        height: 24px;
        background-color: violet;
        &-scrap {
          margin-right: 20px;
          background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -207px -110px
            no-repeat;
          background-size: 885px 849px;
          &:hover {
            background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -276px -110px
              no-repeat;
            background-size: 885px 849px;
          }
        }
        &-play {
          width: 32px;
          height: 32px;
          border-radius: 24px;
          box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
          background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -366px -142px
            no-repeat;
          background-size: 588px 564px;
        }
      }
      &__info {
        float: left;
        width: calc(100% - 184px);
        height: 72px;
        padding: 12px 0px 12px 8px;
      }
      &__title {
        font-size: 16px;
        font-weight: $font-wt-md;
        color: $color-bk;
      }

      &__author-thumb {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        img {
          width: 100%;
        }
      }
      &__author-name {
        font-size: $font-smallest;
        color: $color-gy-700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include responsive("desktop-s") {
    &::before {
      height: 95px;
    }
  }

  @include responsive("tablet") {
    &::before {
      height: 95px;
    }
  }

  @include responsive("mobile") {
    &::before {
      height: 92px;
    }
    &__inner {
      padding: 24px 20px 0;
    }

    .card-wrap-1 {
      grid-template-columns: repeat(auto-fill, calc(50% - 12px));
      gap: 8px;
    }
    .featured-box {
      margin-bottom: 48px;
      &__title {
        font-size: 20px;
      }
      &__btn-more {
        display: none;
      }
      &__btn-more-m {
        margin-top: 20px;
        display: block;
        width: 100%;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: $font-sub-caption;
        font-weight: $font-wt-md;
        border-radius: 20px;
        box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
        background: #fff;
      }
    }

    .featured-box-1 {
      .card {
        max-width: 100%;
        &__link {
          width: auto;
          height: auto;
          &__inner {
            height: 0;
            padding-bottom: 100%;
          }
        }
      }
    }
    .featured-box-2 {
      .card {
        width: 100%;
        margin-bottom: 16px !important;
        &__thumb {
          width: 56px;
          height: 56px;
        }
        &__btn-wrap {
          padding: 12px 8px;
        }
        &__info {
          float: left;
          width: calc(100% - 152px);
          height: 56px;
          padding: 6px 0px 6px 8px;
        }
        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

.footer {
  background-color: $color-bg-footer;

  &__inner {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 40px;
    @extend %clearfix;
  }

  &__menu {
    float: right;
    width: 50%;
    .menu-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      &__link {
        font-size: $font-sub-caption;
        > a {
          color: $color-gy-700;
          font-weight: $font-wt-bd;
        }
        ul {
          margin-top: 16px;
        }
        li {
          margin-bottom: 8px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__corp {
    float: left;
    width: 50%;
  }

  &__logo {
    .logo-wrap {
      display: flex;
      flex-wrap: nowrap;
      a {
        display: block;
        text-indent: -9999px;
      }
    }
    .logo-naver__link {
      width: 45px;
      height: 17px;
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -136px -303px
        no-repeat;
      background-size: 885px 849px;
    }
    .logo-ogq__link {
      margin-left: 4px;
      width: 78px;
      height: 17px;
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -186px -303px
        no-repeat;
      background-size: 885px 849px;
    }
  }

  &__info {
    margin-top: 12px;
    font-size: $font-sub-caption;
    color: $color-gy-400;
  }

  &__link {
    margin-top: 24px;
    font-size: $font-sub-caption;
    .link-item {
      margin-bottom: 4px;
      a {
        color: $color-gy-400;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social-link {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    .link-item {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      text-indent: -9999px;
    }
    .link--insta {
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -142px -329px
        no-repeat;
      background-size: 588px 564px;
      &:hover {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -142px -357.5px
          no-repeat;
        background-size: 588px 564px;
      }
    }
    .link--medium {
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -171px -329px
        no-repeat;
      background-size: 588px 564px;
      &:hover {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -171px -357.5px
          no-repeat;
        background-size: 588px 564px;
      }
    }
    .link--linkedin {
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -199px -329px
        no-repeat;
      background-size: 588px 564px;
      &:hover {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -199px -357.5px
          no-repeat;
        background-size: 588px 564px;
      }
    }
    .link--weibo {
      background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -228px -329px
        no-repeat;
      background-size: 588px 564px;
      &:hover {
        background: url(https://ogqmarket.naver.com/_nuxt/img/866a037.png) -228px -357.5px
          no-repeat;
        background-size: 588px 564px;
      }
    }
  }

  &__copyright {
    margin-top: 24px;
    font-size: $font-smallest;
    color: $color-gy-100;
  }

  @include responsive("tablet") {
    &__menu,
    &__corp {
      width: 100%;
    }
    &__menu {
      margin: 20px 0 40px;
      .menu-list__link {
        width: 20%;
      }
    }
  }

  @include responsive("mobile") {
    &__inner {
      padding: 16px 20px;
    }
    &__menu {
      .menu-list {
        height: 300px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        &__link {
          width: 50%;
          margin-bottom: 24px;
        }
      }
    }
  }
}

/*
a {
  margin-bottom: 20px;
  &:nth-child(odd) {
    @include link("odd");
  }

  &:nth-child(even) {
    @include link("aaa");
  }
}


a {
  @extend %button;
  text-decoration: none;
}

button {
  @extend %button;
  border: none;
}


h1 {
  color: red;
  @include responsive("iphone") {
    color: yellow;
  }
}
*/
