@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import "_mixins";

body {
  font-family: $font-nanumSquare;
  font-size: $font-body;
  color: $color-bk;
}


/* header start */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $color-wt;
  border-bottom: 1px solid $color-gy-50;
  &__responsive {
    display: none;
  }
  &__inner {
    padding: 0 40px;
    &::after {
      @extend %clearfix;
    }
  }

  /* header_logo */
  &__logo {
    float: left;
    padding: 24px 8px 0;
    .logo-wrap {
      @include flexbox(nowrap);
    }
    .logo-naver__link {
      text-indent: -9999px;
      @include w-h(57px, 21px);
      @include bg-img(0px, -330px, 885px, 849px);
    }
    .logo-ogq__link {
      margin-left: 4px;
      text-indent: -9999px;
      @include w-h(99px, 21px);
      @include bg-img(-61px, -330px, 885px, 849px);
    }
  }

  /* header_menu */
  &__menu {
    float: left;
    padding: 24px 8px 0;
    .tab {
      @include flexbox(nowrap);
      &__item {
        padding: 0 20px;
        a {
          font-size: $font-sub-title;
          font-weight: $font-wt-md;
          color: $color-gy-400;
          &:hover {
            color: $color-bk;
          }
        }
      }
      &__item--focused a {
        color: $color-bk;
      }
    }
  }

  /* header_account */
  &__account {
    float: right;
    padding: 16px 8px 0;

    &__inner {
      @include flexbox(nowrap);
      height: 40px;
      line-height: 40px;
    }
    .link-creator {
      padding: 0px 16px;
      a {
        font-size: $font-caption;
        color: $color-gy-700;
      }
    }
    .btn {
      margin: 0 12px;
      @include w-h(32px, 32px);
      text-indent: -9999px;
      &--message {
        @include bg-img(-272px, -38px, 885px, 849px);
      }
      &--alarm {
        @include bg-img(-341px, -72px, 885px, 849px);
      }
      &--profile {
        @include bg-img(2px, -459px, 885px, 849px);
      }
    }
  }

  /* header_search */
  &__search {
    float: right;
    padding: 16px 8px 0;
    .search-form {
      &__content {
        @include w-h(280px, 40px);
        position: relative;
      }
      &__input {
        @include w-h(280px, 40px);
        line-height: 40px;
        background-color: $color-wt;
        border: none;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
        padding: 0 80px 0 16px;
        &::placeholder {
          font-size: $font-caption;
        }
        &:focus {
          border: 1px solid $color-gn;
          box-shadow: none;
        }
      }
      &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        @include w-h(24px, 24px);
        text-indent: -9999px;
        @include bg-img(-344px, -41px, 885px, 849px);
      }
    }
  }

  /* header_sub-menu */
  &__sub-menu {
    display: block;
    @include w-h(100%, 42px);
    line-height: 42px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    .tab {
      @include flexbox(nowrap);
      &__item {
        padding: 0 16px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: $font-caption;
          color: $color-gy-100;
        }
      }
      &__item--focused a {
        color: $color-gn;
        font-weight: $font-wt-bd;
        position: relative;
        &::after {
          content: "";
          @include w-h(auto, 5px);
          display: inline-block;
          background: #00c389;
          border-radius: 3px;
          position: absolute;
          bottom: 2px;
          left: -4px;
          right: -4px;
          opacity: 0.16;
        }
      }
    }
  }

  /* responsive desktop-s -max-width:1279px- */
  @include responsive("desktop-s") {
    &__account {
      .link-creator {
        display: none;
      }
      .btn {
        &--message {
          display: none;
        }
        &--alarm {
          display: none;
        }
      }
    }
  }

  /* responsive tablet -max-width:1023px- */
  @include responsive("tablet") {
    &__account {
      display: none;
    }
    &__search {
      display: none;
    }
    &__responsive {
      display: block;
      position: relative;
      height: 48px;
      padding: 20px 0 0;
      &::after {
        display: block;
        clear: both;
        content: "";
      }
      .title {
        display: none;
        position: absolute;
        top: 0;
        right: 80px;
        bottom: 0;
        left: 80px;
        line-height: 48px;
        text-align: center;
        font-size: $font-body;
      }
      .btn-home,
      .btn-search,
      .btn-hamburger {
        @include w-h(24px, 24px);
        text-indent: -9999px;
      }
      .btn-home {
        display: none;
        a {
          display: block;
        }
        float: left;
        @include bg-img(-138px, -41px, 885px, 849px);
      }
      .menu-wrap {
        float: right;
      }
      .btn-search {
        @include bg-img(-344px, -41px, 885px, 849px);
        margin-right: 4px;
      }
      .btn-hamburger {
        @include bg-img(-207px, -41px, 885px, 849px);
      }
    }
  }

  /* responsive mobile -max-width:719px- */
  @include responsive("mobile") {
    &__logo {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__inner,
    &__sub-menu {
      padding: 0 20px;
      .tab__item {
        padding: 0 12px;
      }
    }
    &__responsive {
      padding: 12px 0 0;
      .title,
      .btn-home {
        display: block;
      }
    }
  }
}
/* header end */

/* main start */
.content-container {
  &::before {
    @extend %clearfix;
    height: 100px;
  }
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  &__inner {
    padding: 64px 40px 0;
  }

  /* card layout */
  .card-wrap-1 {
    display: grid;
    grid-gap: 16px 24px;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-around;
  }

  .card-wrap-2 {
    &::after {
      @extend %clearfix;
    }
  }

  /* featured-box layout */
  .featured-box {
    margin-bottom: 80px;
    &__header {
      @include flexbox(nowrap);
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 20px;
    }
    &__title {
      font-size: $font-title;
      font-weight: $font-wt-bd;
    }
    &__btn-more {
      font-size: $font-caption;
      font-weight: $font-wt-md;
      color: $color-gy-100;
      padding: 8px 12px;
    }
    &__btn-more-m {
      display: none;
    }
  }

  .featured-box-1.featured-artworks {
    .card__link {
      padding: 8px;
    }
  }

  /* featured-box-1 */
  .featured-box-1 {

    /* featured-box-1 > card */
    .card {
      width: 100%;
      max-width: 180px;
      &__thumb {
        border-radius: 10px;
        position: relative;
      }
      &__link {
        &.padding {
          padding: 8px;
        }
        display: block;
        @include w-h(180px, 180px);
        overflow: hidden;
        border-radius: 12px;
        background: $color-bg-thumb;
        &__inner {
          overflow: hidden;
        }
        .card__thumb-img {
          overflow: hidden;
          width: 100%;
          @include scale-up(1);
        }
        &:hover .card__thumb-img {
          @include scale-up(1.1);
        }
      }
      &__btn-wrap {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
      &__btn-scrap {
        @include w-h(24px, 24px);
        text-indent: -9999px;
        @include bg-img(-241px, -110px, 885px, 849px);
        &:hover {
          @include bg-img(-276px, -110px, 885px, 849px);
        }
      }
      &__info {
        margin-top: 6px;
      }
      &__title {
        font-size: 16px;
        font-weight: $font-wt-md;
        color: $color-bk;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__author-thumb {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        overflow: hidden;
        border-radius: 20px;
        @include w-h(16px, 16px);
        img {
          width: 100%;
        }
      }
      &__author-name {
        font-size: $font-smallest;
        color: $color-gy-700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* featured-box-2 */
  .featured-box-2 {

    /* featured-box-2 > card */
    .card {
      float: left;
      width: calc(50% - 12px);
      &:nth-child(2n-1) {
        margin: 0 24px 20px 0;
      }
      &__inner {
        &::after {
          @extend %clearfix;
        }
      }
      &__thumb {
        @include w-h(72px, 72px);
        float: left;
        border-radius: 10px;
        overflow: hidden;
      }
      &__link {
        display: block;
        .card__thumb-img {
          overflow: hidden;
          width: 100%;
          @include scale-up(1);
        }
        &:hover {
          @include scale-up(1.1);
        }
      }
      &__btn-wrap {
        float: right;
        padding: 16px 8px;
        vertical-align: middle;
      }
      &__btn {
        @include w-h(24px, 24px);
        &-scrap {
          margin-right: 20px;
          @include bg-img(-207px, -110px, 885px, 849px);
          &:hover {
            @include bg-img(-276px, -110px, 885px, 849px);
          }
        }
        &-play {
          @include w-h(32px, 32px);
          border-radius: 24px;
          box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
          @include bg-img(-366px, -142px, 588px, 564px);
        }
      }
      &__info {
        float: left;
        @include w-h(calc(100% - 184px), 72px);
        padding: 12px 0px 12px 8px;
      }
      &__title {
        font-size: 16px;
        font-weight: $font-wt-md;
        color: $color-bk;
      }

      &__author-thumb {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        border-radius: 20px;
        margin-right: 4px;
        @include w-h(16px, 16px);
        img {
          width: 100%;
        }
      }
      &__author-name {
        font-size: $font-smallest;
        color: $color-gy-700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* responsive desktop-s -max-width:1279px- */
  @include responsive("desktop-s") {
    &::before {
      height: 95px;
    }
  }

  /* responsive tablet -max-width:1023px- */
  @include responsive("tablet") {
    &::before {
      height: 95px;
    }
  }

  /* responsive mobile -max-width:719px- */
  @include responsive("mobile") {
    &::before {
      height: 92px;
    }
    &__inner {
      padding: 24px 20px 0;
    }

    .card-wrap-1 {
      grid-template-columns: repeat(auto-fill, calc(50% - 12px));
      gap: 8px;
    }
    .featured-box {
      margin-bottom: 48px;
      &__title {
        font-size: 20px;
      }
      &__btn-more {
        display: none;
      }
      &__btn-more-m {
        margin-top: 20px;
        display: block;
        @include w-h(100%, 34px);
        line-height: 34px;
        text-align: center;
        font-size: $font-sub-caption;
        font-weight: $font-wt-md;
        border-radius: 20px;
        box-shadow: 0 2px 6px 0 rgba(37, 41, 40, 0.08);
        background: #fff;
      }
    }

    .featured-box-1 {
      .card {
        max-width: 100%;
        &__link {
          @include w-h(auto, auto);
          &__inner {
            height: 0;
            padding-bottom: 100%;
          }
        }
      }
    }
    .featured-box-2 {
      .card {
        width: 100%;
        margin-bottom: 16px !important;
        &__thumb {
          @include w-h(56px, 56px);
        }
        &__btn-wrap {
          padding: 12px 8px;
        }
        &__info {
          float: left;
          @include w-h(calc(100% - 152px), 56px);
          padding: 6px 0px 6px 8px;
        }
        &__title {
          font-size: 14px;
        }
      }
    }
  }
}
/* main end */

/* footer start */
.footer {
  background-color: $color-bg-footer;

  &__inner {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 40px;
    &::after {
      @extend %clearfix;
    }
  }

  /* footer__menu */
  &__menu {
    float: right;
    width: 50%;
    .menu-list {
      @include flexbox(nowrap);
      justify-content: space-between;
      &__link {
        font-size: $font-sub-caption;
        > a {
          color: $color-gy-700;
          font-weight: $font-wt-bd;
        }
        ul {
          margin-top: 16px;
        }
        li {
          margin-bottom: 8px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  /* footer__corp */
  &__corp {
    float: left;
    width: 50%;
  }

  /* footer__logo */
  &__logo {
    .logo-wrap {
      @include flexbox(nowrap);
      a {
        display: block;
        text-indent: -9999px;
      }
    }
    .logo-naver__link {
      @include w-h(45px, 17px);
      @include bg-img(-136px, -303px, 885px, 849px);
    }
    .logo-ogq__link {
      margin-left: 4px;
      @include w-h(78px, 17px);
      @include bg-img(-186px, -303px, 885px, 849px);
    }
  }

  /* footer__lnfo */
  &__info {
    margin-top: 12px;
    font-size: $font-sub-caption;
    color: $color-gy-400;
  }

  /* footer__link */
  &__link {
    margin-top: 24px;
    font-size: $font-sub-caption;
    .link-item {
      margin-bottom: 4px;
      a {
        color: $color-gy-400;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* footer__social-link */
  &__social-link {
    margin-top: 24px;
    @include flexbox(nowrap);
    .link-item {
      display: block;
      @include w-h(24px, 24px);
      margin-right: 12px;
      text-indent: -9999px;
    }
    .link--insta {
      @include bg-img(-142px, -329px, 588px, 564px);
      &:hover {
        @include bg-img(-142px, -357.5px, 588px, 564px);
      }
    }
    .link--medium {
      @include bg-img(-171px, -329px, 588px, 564px);
      &:hover {
        @include bg-img(-171px, -357.5px, 588px, 564px);
      }
    }
    .link--linkedin {
      @include bg-img(-199px, -329px, 588px, 564px);
      &:hover {
        @include bg-img(-199px, -357.5px, 588px, 564px);
      }
    }
    .link--weibo {
      @include bg-img(-228px, -329px, 588px, 564px);
      &:hover {
        @include bg-img(-228px, -357.5px, 588px, 564px);
      }
    }
  }

  &__copyright {
    margin-top: 24px;
    font-size: $font-smallest;
    color: $color-gy-100;
  }

  /* responsive table -max-width:1023px- */
  @include responsive("tablet") {
    &__menu,
    &__corp {
      width: 100%;
    }
    &__menu {
      margin: 20px 0 40px;
      .menu-list {
        height: auto;
        @include flexbox(nowrap);
        flex-direction: column;
        justify-content: start;
        &__link {
          width: 50%;
          margin-bottom: 24px;
        }
      }
      .menu-list__link {
        width: 20%;
      }
    }
  }

  /* responsive mobile -max-width:719px- */
  @include responsive("mobile") {
    &__inner {
      padding: 16px 20px;
    }
    &__menu {
      .menu-list {
        height: auto;
      }
      .menu-list__link {
        width: 100%;
      }
    }

  }
}
/* footer end */
